.btn {
  padding: .5em;
  font-size: .8em;
  height: 3.8em;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: .3em;
  width: 100%;
  margin: .5em;
  cursor: pointer;
  outline: 0;
}

.btn-circle {
  border-radius: 50%;
}

.btn-primary {
  background-color: #FF4182;
  transition: .5s all;
  &:hover {
    transition: .5s all;
    background-color: darken(#FF4182, 20%);
  }
}

.btn-danger {
  background-color: #e74c3c;
  transition: .5s all;
  &:hover {
    transition: .5s all;
    background-color: darken(#e74c3c, 20%);
  }
}

.btn-mini {
  width: 4em;
  height: .7em;
}

.btn-big {
  padding: 1em;
}